In [1]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import pickle

In [2]:
new_df = pd.read_csv('Final_movie_data.csv')
new_df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,movie_id,year,revenue,comb
0,Greta Gerwig,Margot Robbie,Ryan Gosling,America Ferrera,Comedy Adventure,Barbie,346698.0,2023.0,1.445638e+09,Margot Robbie Ryan Gosling America Ferrera Gre...
1,"Aaron Horvath, Michael Jelenic",Chris Pratt,Anya Taylor-Joy,Charlie Day,Animation Family Adventure Fantasy Comedy,The Super Mario Bros. Movie,502356.0,2023.0,1.362000e+09,Chris Pratt Anya Taylor-Joy Charlie Day Aaron ...
2,Christopher Nolan,Cillian Murphy,Emily Blunt,Matt Damon,Drama History,Oppenheimer,872585.0,2023.0,9.520000e+08,Cillian Murphy Emily Blunt Matt Damon Christop...
3,James Gunn,Chris Pratt,Zoe Saldaña,Dave Bautista,Sci-Fi Adventure Action,Guardians of the Galaxy Vol. 3,447365.0,2023.0,8.456000e+08,Chris Pratt Zoe Saldaña Dave Bautista James Gu...
4,Louis Leterrier,Vin Diesel,Michelle Rodriguez,Tyrese Gibson,Action Crime Thriller,Fast X,385687.0,2023.0,7.047097e+08,Vin Diesel Michelle Rodriguez Tyrese Gibson Lo...
...,...,...,...,...,...,...,...,...,...,...
3389,Alan Smithee Michael Gottlieb,Cheech Marin,Emma Samms,Gary McCormick,Comedy Romance,Shrimp on the Barbie,34564.0,1990.0,4.589960e+05,Cheech Marin Emma Samms Gary McCormick Alan Sm...
3390,Frank Henenlotter,James Lorinz,Patty Mullen,Joanne Ritchie,Comedy Horror Sci-Fi,Frankenhooker,27274.0,1990.0,2.050680e+05,James Lorinz Patty Mullen Joanne Ritchie Frank...
3391,Wong Kar-wai,Andy Lau,Leslie Cheung,Maggie Cheung,Crime Drama Romance,Days of Being Wild,18311.0,1990.0,1.418640e+05,Andy Lau Leslie Cheung Maggie Cheung Wong Kar-...
3392,Joe Roth,Patrick Dempsey,Arye Gross,Daniel Stern,Comedy Drama,Coupe de Ville,39062.0,1990.0,7.150000e+02,Patrick Dempsey Arye Gross Daniel Stern Joe Ro...
3393,Mark Griffiths,Jared Rushton,Ned Beatty,Pamela Sue Martin,Drama Family,A Cry in the Wild,25373.0,1990.0,1.000000e+00,Jared Rushton Ned Beatty Pamela Sue Martin Mar...

In [3]:
new_df.columns

Index(['director_name', 'actor_1_name', 'actor_2_name', 'actor_3_name',
       'genres', 'movie_title', 'movie_id', 'year', 'revenue', 'comb'],
      dtype='object')

In [4]:
cv = CountVectorizer()
vectors = cv.fit_transform(new_df['comb'])

In [5]:
similarity = cosine_similarity(vectors)

In [6]:
similarity[1].shape

(3394,)

In [7]:
sorted(list(enumerate(similarity[0])),reverse=True, key=lambda x: x[1])[1:9]

[(219, 0.38138503569823695),
 (1597, 0.3651483716701108),
 (143, 0.30000000000000004),
 (666, 0.30000000000000004),
 (679, 0.30000000000000004),
 (721, 0.30000000000000004),
 (848, 0.30000000000000004),
 (1896, 0.30000000000000004)]

In [8]:
def recommend(movie):
    index = new_df[new_df['movie_title'] == movie].index[0]
    distances = similarity[index]
    movie_list = sorted(list(enumerate(distances)),reverse=True,key = lambda x: x[1])[1:10]
    for i in movie_list:
        print(new_df.iloc[i[0]].movie_title)

In [9]:
new_df.iloc[1].movie_title

'The Super Mario Bros. Movie'

In [10]:
recommend("Harry Potter and the Chamber of Secrets")

Harry Potter and the Philosopher's Stone
Harry Potter and the Deathly Hallows: Part 2
Harry Potter and the Deathly Hallows: Part 1
Harry Potter and the Half-Blood Prince
Harry Potter and the Goblet of Fire
Harry Potter and the Prisoner of Azkaban
Harry Potter and the Order of the Phoenix
Percy Jackson & the Olympians: The Lightning Thief
Home Alone

In [11]:
pickle.dump(new_df, open('movies.pkl','wb'))

In [13]:
# pickle.dump(similarity, open('similarity.pkl','wb'))